body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 300px;
  height: auto;
  margin-right: 10px;
}

.language-flags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language-flags img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.search-container {
  position: relative;
  width: 500px;
}

.search-input {
  width: 100%;
  padding: 15px 10px 10px 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 60%;
  left: 10px; 
  transform: translateY(-50%);
}

.menu-icons img {
  width: 100px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
}

.navbar {
  justify-content: space-around;
  background-color: #004aad;
  padding: 10px 0;
  text-align: left;
}

.navbar h1{
  font-size: 40px;
  margin-left: 80px;
}

main {
  color: white;
  text-align: center;
}

header {
  text-align: center;
  color: white;
  font-size: 3rem;
}

.info {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: #003399;
}

.logo {
  text-align: center;
  margin-top: 20px;
}

footer {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.social {
  display: flex;
  justify-content: center;
}

.social img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 300px;
}

.images {
  position: relative;
  display: flex;
}

.images img {
  border: 40px solid #2e1a0a;
  border-radius: 20px;
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.images img:nth-child(2) {
  position: absolute;
  left: 380px;
  top: 80px;
}

.text {
  max-width: 750px;
  margin-left: 400px;
}

.text h3 {
  color: #0073e6;
  font-size: 25px;
  margin: 0;
  text-align: left;
}

.text h1 {
  color: #000;
  font-size: 80px;
  margin: 10px 0;
  text-align: left;
}

.text p {
  color: #6f6f6f;
  font-size: 25px;
  line-height: 1.5;
  text-align: left;
}
.section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 20px;
  background-color: #38b6ff;
}

.info-box {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  max-width: 600px;
  color: #0056a4;
  font-size: 22px;
  line-height: 1.5;
}

.illustration {
  margin-left: 400px;
}

.illustration img {
  max-width: 900px;
}
.page-container {
  margin: 0 auto;
  padding: 350px;
  background-color: #004aad;
}
.header-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.feature-card {
  flex: 1 1 calc(33.333% - 20px);
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #0073e6;
  color: black;
}

.feature-card h3 {
  font-size: 1.2em;
  margin: 15px 0;
}
.feature-card img {
  width: auto;
  height: 100px;
}
.white-background {
  background-color: #ffffff;
}

.menu-icons {
  display: flex;
  align-items: center;
  gap: 20px; /* Adiciona um espaço entre os ícones */
}

.menu-dropdown {   
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.submenu-dropdown {
  display: none; /* Esconde o submenu */
  position: absolute;
  width: 250px;
  height: 150px; /* Aumenta a largura do submenu */
  border-radius: 10px;
}


.menu-dropdown .md-item:hover .submenu-dropdown {
  display: flex; /* Exibe o submenu quando passar o mouse sobre o item */
  background-color:#2190ff;
}

.menu-dropdown .md-item a {
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  display: flex;
  font-size: 25px;
}

.submenu-dropdown .sd-item a:hover {
  background-color:#66b3ff;
}

.submenu-dropdown .sd-item a {
  width: 100%;
  padding: 16px;
}
